html,
body {
    margin: 0;
}

main {
    min-height: 95vh;
    background-color: rgb(68, 169, 216);
}

.texteToTranslate {
    text-align: center;
    margin: 0;
    height: 10vh;
    padding-top: 2%;
}

#source {
    width: 90vw;
    height: 8vh;
}

.flags {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .flags {
        min-height: 10vh;
    }
}

.divFlag {
    display: flex;
    flex-direction: column;
    width: 16%;
}

button {
    background: none;
    border: none;
    width: 100%;
}

.flag {
    width: 10vw;
}

.flag:hover {
    cursor: pointer;
}

.spanFlag {
    width: 100%;
    height: 10px;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
    color: white;
}

#json {
    display: none;
}

.divArrow {
    min-height: 10vh;
    text-align: center;
}

.arrow {
    width: 50px;
    transform: rotate(90deg);
}

.translation {
    height: 45vh;
    line-height: 45vh;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 1024px) {
    .translation {
        min-height: 55vh;
    }
}

#output {
    width: 100%;
    height: 100%;
    background-color: rgb(127, 190, 219);
    border: none;
    border-radius: 5px;
    text-align-last: center;
    font-size: 2em;
}

footer {
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background-color: rgb(68, 169, 216);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}