html,
body {
    margin: 0;
}

main {
    min-height: 95vh;
    background-color: rgb(68, 169, 216);
}

.texteToTranslate {
    text-align: center;
    margin: 0;
    height: 10vh;
    padding-top: 2%;
}

#source {
    width: 90vw;
    height: 8vh;
}

.flags {
    text-align: center;
    margin: 0;
    height: 15vh;
    line-height: 25vh;
}

button {
    background: none;
    border: none;
}

.flag {
    width: 11vw;
}

.flag:hover {
    cursor: pointer;
}

#json {
    display: none;
}

.divArrow {
    min-height: 10vh;
    text-align: center;
}

.arrow {
    width: 50px;
    transform: rotate(90deg);
}

.translation {
    height: 45vh;
    line-height: 45vh;
    margin-left: 5%;
    margin-right: 5%;
}

#output {
    width: 100%;
    height: 100%;
    background-color: rgb(127, 190, 219);
    border: none;
    border-radius: 5px;
    text-align-last: center;
    font-size: 2em;
}

footer {
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background-color: rgb(68, 169, 216);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}